<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
<script src="modules/ctrl/service.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="Styles/main.css">

</head>
<body ng-app="myApp" ng-controller="customersCtrl" ng-init="Initialize()">
<ul class="nav nav-tabs">
  <li ng-click="Selected=1"ng-class="Selected==1?'active':''"><a >Catetan</a></li>
  <li ng-click="Selected=2" ng-class="Selected==2?'active':''"><a >Transaksi</a></li>
  <li ng-click="Selected=3" ng-class="Selected==3?'active':''"><a >Pending</a></li>
</ul>

<div ng-if="Selected==1"ng-controller="customersCtrl" ng-init="GetNames()">
 	<p>Name : 
	<div class='container-fluid typeahead col md-10'>
    <input type="text" ng-disabled="IsLoading"ng-model="selected" uib-typeahead="name as name.Name for name in names | filter:$viewValue | limitTo:8" class="form-control input-lg">
</div>

</p>
 <!-- <button ng-click="SelectName(selected.Name)">Show</button> -->

  <table class="table" style="font-size:20px">
    <thead>
	<tr style="background-color:antiquewhite">
		<th>Date</th><th>Amount</th><th>Description</th>
	</tr>
	<tr style="background-color: bisque;color: #B70000;">
		<th  style="text-align:right">Total</th><th style="text-align:right;padding-right:25px">{{Total}}</th><th></th>
	</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in PagedData[SelectedPage]">
			<td>{{row.Date | date:"dd/MM/yyyy 'at' hh:mma"}}</td>
			<td style="text-align:right;padding-right:25px">{{row.Amount}}</td>
			<td>{{row.Description}}</td>
		</tr>
	<tr style="background-color: bisque;color: #B70000;">
		<td  style="text-align:right">Total</td><td style="text-align:right;padding-right:25px">{{Total}}</td><td></td>
	</tr>
	<tbody>
  </table>
<ul class="pagination" style="float:right;margin-right:30px;">
  <li ng-repeat="(key,data) in PagedData" ng-click="UpdatePage(key)"><a>{{key}}</a></li>
</ul>
  <input type="number" ng-model="PageNumber" class="form-control input-sm" style="width: 65px;display: inline;float: right;margin:22px 22px 0 0;">

 <form>
 <div class='container-fluid typeahead' ng-show="Show()">    
    <input type="text" ng-disabled="IsLoading"ng-model="selected" uib-typeahead="name as name.Name for name in names | filter:$viewValue | limitTo:8" class="form-control input-lg">
</div>

 <div class='container-fluid typeahead'>    
    <input ng-disabled="IsLoading" ng-model="Pwd"type="password" class="form-control input-lg" >
	</div>
 <div class='container-fluid typeahead' ng-show="Show()">
    <label for="exampleInputEmail1">amt</label>
    <input ng-disabled="IsLoading" ng-model="Amount"type="number" class="form-control" >
  </div>
  <div class='container-fluid typeahead' ng-show="Show()">
    <label for="exampleInputEmail1">Desc</label>
    <input ng-disabled="IsLoading" ng-model="Description"type="text" class="form-control input-lg"  placeholder="Description">
  </div>
  <button ng-disabled="IsLoading" ng-click="Insert()" class="btn btn-default" ng-if="Show()">Submit</button>
</form>
 </div>
 
 
 <div ng-if="Selected==2"ng-controller="customersCtrl" ng-init="GetHistory()">
   <table class="table table-history" style="font-size:12px">
    <thead>
	<tr style="background-color:antiquewhite">
		<th>Date</th><th>Name</th><th>Amount</th><th>Description</th>
	</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in List">
			<td>{{row.Date}}</td>
			<td>{{row.Name}}</td>
			<td style="text-align:right;padding-right:25px">{{row.Amount}}</td>
			<td>{{row.Description}}</td>
		</tr>
	<tbody>
  </table>
 </div>
 
 
 <div ng-if="Selected==3"ng-controller="customersCtrl" ng-init="RetrievePendings()">
   <table class="table table-history" style="font-size:12px">
    <thead>
	<tr style="background-color:antiquewhite">
		<th>Name</th><th>Total</th>
	</tr>
	<tr style="background-color: bisque;color: #B70000;">
		<th  style="text-align:right">Total</th><th style="text-align:right;padding-right:25px">{{Total}}</th>
	</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in List">
			<td>{{row.Name}}</td>
			<td style="text-align:right;padding-right:25px">{{row.Total}}</td>			
		</tr>
	<tr style="background-color: bisque;color: #B70000;">
		<th  style="text-align:right">Total</th><th style="text-align:right;padding-right:25px">{{Total}}</th>
	</tr>
	<tbody>
  </table>
 </div> 
 <div>
 </div>
</body>
<html>
